# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# App Configuration
APP_URL=https://tuktrack.com
VITE_MAPBOX_ACCESS_TOKEN=

# Firebase Configuration (Legacy - preference is to use firebase-applet-config.json)
FIREBASE_PROJECT_ID=
